$fes-purple: rgb(72,28,126);
$fes-steelblue: rgb(175, 200, 255);

$fes-background-texture-neutral: url('images/textures/dark_brick_wall/dark_brick_wall.png');
//$fes-background-texture-neutral: url('images/textures/px_by_Gre3g/px_by_Gre3g.png');
//$fes-background-texture-neutral: url('images/textures/fake_brick/fake_brick.png');

$fes-background-texture-panel-body: url('images/textures/outlets/outlets.png');
$fes-background-texture-panel-header: url('images/textures/debut_dark/debut_dark.png');
$fes-background-texture-splitter: url('images/textures/rubber_grip/rubber_grip.png');
$fes-background-texture-column-header: url('images/textures/irongrip/irongrip.png');

$fes-base-color: rgb(10, 10, 9);
//$fes-base-icon-color: lighten($base-color + rgb(0, 5, 0), 50%);
//$fes-base-icon-color: fuchsia;
$fes-base-icon-color: fuchsia;
$fes-font-primary: 'Droid Sans';
$fes-font-display: 'Bangers';
$fes-font-hand: 'Shadows Into Light Two';
