$grid-column-header-color: lighten($base-color, 80%);
$grid-header-background-color: lighten($base-color, 25%);
$grid-header-open-background-color: lighten($base-color, 30%);
$grid-header-border-color: lighten($base-color, 5%);
